<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>List of Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <!-- ... -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script type = "text/javascript">-->

    <!--</script>-->

    <script type = "text/javascript" src="/scripts.js"></script>

</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User Group</th>
                <th>Account</th>
                <th>Password</th>
                <!--<th>Salt</th>-->
                <th>Created by</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody id = "tableRowsParent">
            <tr th:each = "credential, iterList : ${list}">
                <td th:text  = "${credential.id}" th:id = "|id${iterList.index}|"></td>
                <td th:text  = "${credential.group}"></td>
                <td th:text  = "${credential.account}"></td>
                <td th:id = "|pw${credential.id}|">**********</td><!--<td><input type = "te" th:value  = "${credential.password}" th:id = "|pw${iterList.index}|" /></td>-->
               <!-- <td th:text  = "${credential.salt}"></td>--><!--<td><input type = "password" th:value  = "${credential.salt}" /></td>-->
                <td th:text  = "${credential.createUser}"></td>
                <td th:text  = "${credential.createTimeStamp}"></td>
                <td>
                    <form action="#" th:action = "@{|/update?id=${credential.id}|}" th.object = "${credential}" method="get">
                        <input type="hidden" th:value = "${credential.id}" th:name = "id"  />
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action = "@{/delete}" th.object = "${credential}" method="post">
                        <input type="hidden" th:value = "${credential.id}" th:name = "id"  />
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td th.object = "${credential}">
                    <!--<form action="#" th:action = "@{/decrypt}" th.object = "${credential}" method="post">-->
                        <input type="hidden" th:value = "${credential.id}" th:name = "id"  />
                        <input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
                        <button type="submit" onclick="findPassword(this)">Show Password</button>
                    <!--</form>-->
                </td>
                <!--<td>-->
                    <!--<form>-->
                        <!--<input type="hidden" th:value = "${iterList.index}" th:name = "id"  />-->
                        <!--<button type="submit" th:id = "|button${iterList.index}|" onClick="findPassword(this)">Get This Password</button>-->
                    <!--</form>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<form>-->
                        <!--<input type="hidden" th:value = "${iterList.index}" th:name = "id"  />-->
                        <!--<button type="submit" th:id = "|showPw{iterList.index}|" th:onClick="'javascript:showPassword('+${iterList.index}+')'">Show Password</button>-->
                    <!--</form>-->
                <!--</td>-->
            </tr>
        </tbody>
    </table>
    <div>
        <form action="#" th:action = "@{/add}"  method="get">
            <button>Add new entry</button>
        </form>

    </div>
</body>
</html>