<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new row</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


    <form action="#" th:action="@{/add}" th:object = "${credential}" method="post">

        <p>
            Group:
        </p>

        <!--<select th:field="*{group}">
            <option th:each = "type : ${credential}"
                    th:value="ROLE_MANAGERS">Manager</option>
            <option th:each = "type : ${credential}"
                    th:value="ROLE_DEVELOPERS">Developer</option>
        </select>-->


        <!--<select th:field="*{credential.group}">
            <option th:each = "credential.group : ${list}"
                    th:value = "${credential.group}"
                    th:text  = "${credential.group}">Wireframe</option>
        </select>-->

        <select th:field="*{group}">
            <option th:each="credential : ${list}" th:value="${credential}" th:text="${credential}"></option>
        </select>

        <p>
            Account: <input type = "text" th:field = "*{account}"/>
        </p>
        <p>
            Password: <input type = "text" th:field = "*{password}"/>
        </p>
        <p>
            Salt: <input type = "text" th:field = "*{salt}"/>
        </p>
        <!--<p>-->
            <!--Created by: <input type = "text" th:field = "*{createUser}"/>-->
        <!--</p>-->
        <p>
            <button type="submit">Submit</button>
        </p>

    </form>
</body>
</html>