<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add new row</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="#" th:action="@{/add}" th:object = "${credential}" method="post">
        <p>
            Group (Developer, Administrator, User):<br/><br/>
            <input type = "text" th:field = "*{group}"/>
        </p>
        <p>
            Account: <br/><br/><input type = "text" th:field = "*{account}"/>
        </p>
        <p>
            Password:<br/><br/><input type = "text" th:field = "*{password}"/>
        </p>
        <p>
            Salt:<br/><br/><input type = "text" th:field = "*{salt}"/>
        </p>
        <p>
            Created by:<br/><br/><input type = "text" th:field = "*{createUser}"/>
        </p>
        <p>
            Created time:<br/><br/><input type = "text" th:field = "*{createTimeStamp}"/>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</body>
</html>